.footer {
  font-size: 14px;

  &__copyright {
    font-size: 12px;
  }

  &__link {
    font-style: 1rem;
  }
}

.footer-info {
  p {
    line-height: 1.5;
  }

  .max-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  ul {
    list-style-type: none;
  }
}
