.header {
  &--background {
    background-color: #060606;
  }
}

.infobar {
  &__burgur-icon {
    &:hover {
      color: $red-color;
      cursor: pointer;
      transition: ease 100ms;
    }
  }
}
