$breakpoint: 768px;

.about {
  background-color: #111;
  background-image: url(https://image123.azureedge.net/houseofcars/13792426784435152-houseofcars.welcome.webp);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: $breakpoint) {
    height: 480px;
    min-height: 480px;
    background-position: center;
  }
  @media screen and (min-width: $breakpoint) {
    height: 543px;
    min-height: 543px;
    background-position: 150px;
  }

  &__button {
    text-transform: uppercase;
  }

  &__shape1 {
    @media screen and (max-width: $breakpoint) {
      width: 100%;
      background-color: rgba(27, 27, 29, 0.9);
      clip-path: inset(0 0 0 0);
    }
    @media screen and (min-width: $breakpoint) {
      width: 52%;
      background-color: rgba(27, 27, 29, 0.45098039);
      -webkit-clip-path: polygon(0 0, 80.6% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 80.6% 0, 100% 100%, 0 100%);
    }
  }
  &__shape2 {
    background-color: #111;
    -webkit-clip-path: polygon(0 0, 80.6% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 80.6% 0, 100% 100%, 0 100%);
    width: 45%;
    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }
}
