.cta {
  background-color: #111;
  background-image: url(https://image123.azureedge.net/houseofcars/9765954624690638-woman-enjoying-her-financially-independence-while-buying-car-_1_-min.webp);
  background-repeat: no-repeat;
  background-size: cover;
  @include xs {
    background-position: center;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
  }

  @include md {
    background-position: -150px;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    font-family: system-ui !important ;
  }

  &__button {
    text-transform: uppercase;
  }

  &__shape1 {
    @include xs {
      width: 100%;
      background-color: rgba(27, 27, 29, 0.9);
      clip-path: inset(0 0 0 0);
    }

    @include md {
      background-color: rgba(27, 27, 29, 0.4509803922);
      clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
      width: 47%;
    }

    @include lg {
      width: 42%;
    }
  }
  &__shape2 {
    background-color: #111;
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    width: 35%;
    display: none;

    @include sm {
      width: 40%;
    }

    @include md {
      display: block;
      width: 40%;
    }

    @include lg {
      width: 35%;
    }
  }
}
