.hero-slider {
  h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Arial, Helvetica,
      sans-serif !important;
    font-weight: 800;
  }
  p {
    text-shadow: 2px 3px 0 #000;
    line-height: 12px;
    font-size: 20px;
    font-weight: 500;
  }

  &__slide {
    @include xs {
      height: 250px;
    }
    @include md {
      height: 350px;
    }

    @include lg {
      height: 500px;
    }
  }

  &__slide-image {
  }
  &__slide-shadow {
    @include lg {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
