.testimonial {
  h3 {
    font-size: 30px;
    font-weight: 900;
  }

  &__container {
    @include xs {
      padding: 0 15px;
    }
    @include sm {
      padding: 0 15px;
      margin: 0 auto;
      max-width: 540px;
    }
    @include md {
      max-width: 720px;
    }
    @include lg {
      max-width: 960px;
    }
    @include xl {
      max-width: 1140px;
    }
  }
}

.slide {
  @include md {
    min-height: 270px;
    max-height: 270px;
  }

  @include xl {
    min-height: 200px;
    max-height: 200px;
  }

  &__profile {
    top: 5px;
    left: 0;
  }

  &__title {
    padding-top: 20px;
  }

  &__text {
    font-style: 14px;
  }
}
