// @font-face {
//   font-family: IBMPlexSans;
//   src: url("../fonts/IBMPlexSans-Regular.ttf");
// }
@font-face {
  font-family: Cheapsman;
  src: url("../fonts/Cheapsman\ Slant.ttf");
}

@font-face {
  font-family: Gothic_reqular;
  src: url("../fonts/GOTHIC.TTF");
}

@font-face {
  font-family: Gothic_bold;
  src: url("../fonts/GOTHICB.TTF");
}

@font-face {
  font-family: Gothic_bold_italic;
  src: url("../fonts/GOTHICBI.TTF");
}

@font-face {
  font-family: Gothic_italic;
  src: url("../fonts/GOTHICI.TTF");
}

@font-face {
  font-family: Corbel;
  src: url("../fonts/corbel.ttf");
}

@font-face {
  font-family: Corbel_Bold;
  src: url("../fonts/corbelb.ttf");
}

@font-face {
  font-family: Bahnschrift;
  src: url("../fonts/bahnschrift.ttf");
}

@font-face {
  font-family: MontserratBold;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: MontserratBlack;
  src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family: MontserratExtraBold;
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: MontserratLight;
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: MontserratMedium;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: RobotoMedium;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: UbuntuBoldItalic;
  src: url("../fonts/Ubuntu-BoldItalic.ttf");
}

@font-face {
  font-family: UbuntuBold;
  src: url("../fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: UbuntuMedium;
  src: url("../fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: UbuntuRegular;
  src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: AltoneBold;
  src: url("../fonts/AltoneTrial-Bold.ttf");
}

@font-face {
  font-family: AltoneRegular;
  src: url("../fonts/AltoneTrial-Regular.ttf");
}

@font-face {
  font-family: OswaldBold;
  src: url("../fonts/Oswald-Bold.ttf");
}

@font-face {
  font-family: OswaldRegular;
  src: url("../fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: DMSansMedium;
  src: url("../fonts/DMSans-Medium.ttf");
}

@font-face {
  font-family: DMSansBold;
  src: url("../fonts/DMSans-Bold.ttf");
}

@font-face {
  font-family: DMSansRegular;
  src: url("../fonts/DMSans-Regular.ttf");
}
// "Ubuntu"
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
// 'Dancing Script'
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
// "Open Sans"
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
